{% extends "band/base.html" %}

{% block title %}{{ bandmember }} | PRSB{% endblock %}

{% block content %}
    <h1>{{ bandmember }}</h1>

    <div>
        <p>Username: {{ bandmember.user.username }}</p>
    </div>

    <div>
        <h2>Contact Info</h2>
        <p>Email: {{ bandmember.user.email }}</p>
        <p>Phone Number: {{ bandmember.phone_number }}</p>
    </div>

    <div>
        <h2>Emergency Contact</h2>
        <p>Name: {{ bandmember.emergency_contact_name }}</p>
        <p>Phone Number: {{ bandmember.emergency_contact_phone }}</p>
    </div>

    <div>
        <h2>Other Information</h2>
        <p>Bio: {{ bandmember.bio|safe }}</p>
        <p>Birthday: {{ bandmember.birthday|date:"F j" }}</p>
        <p>Dietary Restrictions: {{ bandmember.dietary_restrictions }}</p>
        <p>T-Shirt Size: {{ bandmember.tshirt_size }}</p>
    </div>

    <div>
        <h2>Part Assignments</h2>

        <a href={% url 'band:member_part_assignment_create' bandmember.pk %}>New Part Assignment</a>

        <table class="sortable">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Part</th>
                    <th>Instrument</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for part_assignment in part_assignments %}
                    <tr {% if part_assignment.is_backup %} class="warning" {% elif part_assignment.is_not_ready %} class="error" {% endif %}>
                        <td>{{ part_assignment.song_part.song }}</td>
                        <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part.name }}</td>
                        <td sorttable_customkey={{ part_assignment.instrument.order }}>{{ part_assignment.instrument }}</td>
                        <td><a href={% url 'band:member_part_assignment_update' member_id=part_assignment.member.pk pk=part_assignment.pk %}>Edit</a></td>
                    </tr>
                {% endfor %}

                {% for missing_song in missing_songs %}
                    <tr>
                        <td>{{ missing_song }}</td>
                        <td sorttable_customkey=100></td>
                        <td sorttable_customkey=100></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Upcoming Gigs</h2>
        <ul>
            {% for attendance in upcoming_gig_attendance %}
                <li>{{ attendance.gig }}: {{ attendance.status }}</li>
            {% endfor %}
        </ul>
    </div>

    <a href={% url 'band:member_list' %}>Back to Members</a>
{% endblock %}
