{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'band/css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'band/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'band/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'band/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'band/images/site.webmanifest' %}">
    <script src="{% static 'band/js/sorttable.js' %}"></script>
    <title>{% block title %}PRSB Site{% endblock %}</title>
</head>

<body>
    <div id="content">
        <nav>
            {% block nav %}{% endblock %}
        </nav>
        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </div>
</body>
</html>