{% extends "band/base.html" %}

{% block title %}Gigs | PRSB{% endblock %}

{% block content %}
    <h2>Gigs</h2>

    <h3>Upcoming Gigs</h3>
    <ul>
        {% for gig in upcoming_gigs %}
            <li><a href={% url 'band:gig_detail' gig.id %}>{{ gig }}</a></li>
        {% endfor %}
    </ul>

    <h3>Past Gigs</h3>
    <ul>
        {% for gig in past_gigs %}
            <li><a href={% url 'band:gig_detail' gig.id %}>{{ gig }}</a></li>
        {% endfor %}
    </ul>

    <a href={% url 'band:index' %}>Back to Main Menu</a>
{% endblock %}
