{% extends "band/base.html" %}
{% load static %}

{% block title %}{{ gig.name }} | Update | PRSB{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
    <a href={% url 'band:gig_detail' gig.id %}>Cancel</a>
{% endblock %}

{% block extra_js %}
    <script src={% static 'tinymce/tinymce.min.js' %}></script>
    <script>
        tinymce.init({selector: '#id_notes'});
    </script>
{% endblock %}
