{% extends "band/base.html" %}
{% load tz %}qq

{% block title %}Gigs | PRSB{% endblock %}

{% block nav %}
    <a href={% url 'band:index' %}>Home</a>
    > Gigs
{% endblock %}

{% block content %}
    <h2>Gigs</h2>

    <a href={% url 'band:gig_create' %}>New Gig</a>

    <h3>Upcoming Gigs</h3>
    <ul>
        {% for gig in upcoming_gigs %}
            <li><a href={% url 'band:gig_detail' gig.id %}>{{ gig }} ({{ gig.start_datetime|localtime|date:"Y-m-d" }})</a></li>
        {% endfor %}
    </ul>

    <h3>Past Gigs</h3>
    <ul>
        {% for gig in past_gigs %}
            <li><a href={% url 'band:gig_detail' gig.id %}>{{ gig }} ({{ gig.start_datetime|localtime|date:"Y-m-d" }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}
