{% extends "band/base.html" %}
{% load static %}

{% block title %}New Gig | PRSB{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}

        <h3>Gig Instruments</h3>
        {% if instrument_formset.non_form_errors %}
            <div class="error">
              <strong>Errors:</strong>
              <ul>
                {% for error in instrument_formset.non_form_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
        {% endif %}
        {{ instrument_formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>Instrument</th>
                    <th>Quantity</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for form in instrument_formset %}
                    <tr>
                        {{ form.id }}
                        <td>{{ form.instrument }}</td>
                        <td>{{ form.gig_quantity }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Create">
    </form>
    <a href={% url 'band:gig_list' %}>Cancel</a>
{% endblock %}

{% block extra_js %}
    <script src={% static 'tinymce/tinymce.min.js' %}></script>
    <script>
        tinymce.init({selector: '#id_notes'});
    </script>
{% endblock %}
