{% extends "band/base.html" %}
{% load tz %}

{% block title %}{{ gig.name }} | Part Assignments | PRSB{% endblock %}
{% block content %}
    <h1>{{gig.name}}</h1>

    <h2>Part Assignment Overrides</h2>
    <a href={% url 'band:gig_part_assignment_override_create' gig.id %}>Add new Part Assignment Override</a>
    {% if part_assignment_overrides %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Part</th>
                    <th>Instrument</th>
                    <th>Band Member</th>
                </tr>
            </thead>
            <tbody>
                {% for pao in part_assignment_overrides %}
                    <tr>
                        <td>{{ pao.song_part.song }}</td>
                        <td sorttable_customkey={{ pao.song_part.get_order }}>{{ pao.song_part }}</td>
                        <td sorttable_customkey={{ pao.gig_instrument.instrument.order }}>{{ pao.gig_instrument.instrument }}</td>
                        <td>{{ pao.member }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if gig_part_assignments_setlist|length > 0 %}
        <h2>Setlist Songs</h2>
        {% for gpa in gig_part_assignments_setlist %}
            <details>
                <summary>{{ gpa.song.title }}</summary>

                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Part</th>
                            <th>Instrument</th>
                            <th>Band Member</th>
                        </tr>
                    </thead>
                    <tbody>
    {#                     the song parts not being played#}
                        {% for song_part in gpa.unplayed_parts %}
                            <tr class="error">
                                <td sorttable_customkey={{ song_part.get_order }}>{{ song_part }}</td>
                                <td sorttable_customkey=100></td>
                                <td></td>
                            </tr>
                        {% endfor %}

    {#                     the people playing parts#}
                        {% for part_assignment in gpa.part_assignments %}
                            <tr {% if part_assignment.is_backup %} class="warning" {% endif %}>
                                <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part }}</td>
                                <td sorttable_customkey={{ part_assignment.instrument.order }}>{{ part_assignment.instrument }}</td>
                                <td>{{ part_assignment.member }}</td>
                            </tr>
                        {% endfor %}

    {#                     the members not playing#}
                        {% for member in gpa.non_players %}
                            <tr class="unutilized-row">
                                <td sorttable_customkey=100></td>
                                <td sorttable_customkey=100></td>
                                <td>{{ member }}</td>
                            </tr>
                        {% endfor %}

    {#                     the instruments not being played#}
                        {% for instrument, cnt in gpa.unplayed_instruments.items %}
                            <tr class="unutilized-row">
                                <td sorttable_customkey=100></td>
                                <td sorttable_customkey={{ instrument.order }}>{{ instrument }} ({{ cnt }})</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </details>
        {% endfor %}
    {% endif %}

    <h2>Song Recommendations</h2>
    {% for gpa in gig_part_assignments_recs %}
        <details>
            <summary>{{ gpa.song.title }} ({{ gpa.score|floatformat:2 }})</summary>

            <table class="sortable">
                <thead>
                    <tr>
                        <th>Part</th>
                        <th>Instrument</th>
                        <th>Band Member</th>
                    </tr>
                </thead>
                <tbody>
{#                     the song parts not being played#}
                    {% for song_part in gpa.unplayed_parts %}
                        <tr class="error">
                            <td sorttable_customkey={{ song_part.get_order }}>{{ song_part }}</td>
                            <td sorttable_customkey=100></td>
                            <td></td>
                        </tr>
                    {% endfor %}

{#                     the people playing parts#}
                    {% for part_assignment in gpa.part_assignments %}
                        <tr {% if part_assignment.is_backup %} class="warning" {% endif %}>
                            <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part }}</td>
                            <td sorttable_customkey={{ part_assignment.instrument.order }}>{{ part_assignment.instrument }}</td>
                            <td>{{ part_assignment.member }}</td>
                        </tr>
                    {% endfor %}

{#                     the members not playing#}
                    {% for member in gpa.non_players %}
                        <tr class="unutilized-row">
                            <td sorttable_customkey=100></td>
                            <td sorttable_customkey=100></td>
                            <td>{{ member }}</td>
                        </tr>
                    {% endfor %}

{#                     the instruments not being played#}
                    {% for instrument, cnt in gpa.unplayed_instruments.items %}
                        <tr class="unutilized-row">
                            <td sorttable_customkey=100></td>
                            <td sorttable_customkey={{ instrument.order }}>{{ instrument }} ({{ cnt }})</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href={% url 'band:gig_setlist_add_song' gig_id=gig.id song_id=gpa.song.id %}>Add to Setlist</a>
        </details>
    {% endfor %}

    <h2>Number of Songs per Person</h2>
    <table class="sortable">
        <thead>
            <tr>
                <th>Band Member</th>
                <th>Number of Songs</th>
            </tr>
        </thead>
        <tbody>
            {% for member, cnt in member_song_counts %}
                <tr>
                    <td>{{ member }}</td>
                    <td>{{ cnt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Settings</h2>
    <div>
        <label for="hide-unutilized">Hide Unutilized:</label>
        <input type="checkbox" id="hide-unutilized" checked>
    </div>

    <a href={% url 'band:gig_detail' gig.id %}>Back to {{ gig.name }}</a>
{% endblock %}

{% block extra_js %}
<script>
    function toggleUnutilizedRows() {
        document.querySelectorAll(".unutilized-row").forEach(row => {
            row.style.display = document.getElementById("hide-unutilized").checked ? "none" : "";
        });
    }

    // Hide unutilized rows on page load
    toggleUnutilizedRows();

    // Add event listener for checkbox change
    document.getElementById("hide-unutilized").addEventListener("change", toggleUnutilizedRows);
</script>
{% endblock %}