{% extends "band/base.html" %}
{% load tz %}
{% load custom_filters %}

{% block title %}{{ gig.name }} | PRSB{% endblock %}

{% block nav %}
    <a href={% url 'band:index' %}>Home</a>
    > <a href={% url 'band:gig_list' %}>Gigs</a>
    > {{ gig.name }}
{% endblock %}

{% block content %}
    <h1>{{gig.name}}</h1>
    <a href={% url 'band:gig_update' gig.id %}>Edit Gig Information</a>
    <p>Start: {{ gig.start_datetime|localtime }}</p>
    <p>End: {{ gig.end_datetime|localtime }}</p>
    <p>Address: {{ gig.address }}</p>
    <p>{{ gig.notes|safe }}</p>

    <h2>Band Member Availability</h2>
    <a href={% url 'band:gig_availability_update' gig.id %}>Edit Member Availability</a>
    <table>
        <thead>
            <tr>
                <th>Available ({{ available_members | length }})</th>
                <th>Maybe Available ({{ maybe_available_members | length }})</th>
                <th>Not Available ({{ unavailable_members | length }})</th>
                <th>Missing Availability ({{ missing_members | length }})</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for attendance in available_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for attendance in maybe_available_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for attendance in unavailable_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for member in missing_members %}
                        {{ member }}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Setlist</h2>
    <a href={% url 'band:gig_setlist_update' gig.id %}>Edit Setlist</a>
    <ol>
        {% for set_list_entry in setlist %}
            <li>{% if set_list_entry.song %}
                    {{ set_list_entry.song }} ({{ set_list_entry.song.duration|duration_to_minutes_seconds }})
                {% else %}
                    Break ({{ set_list_entry.break_duration|duration_to_minutes_seconds }})
                {% endif %}
            </li>
        {% endfor %}
    </ol>

    {% if setlist|length > 0 %}
        Music: {{ music_duration|duration_to_minutes_seconds }}
    {% endif %}

    {% if total_duration %}
        <br>
        Total: {{ total_duration|duration_to_minutes_seconds }}
    {% endif %}

    <h2>Instruments</h2>
    <ul>
        {% for gig_instrument in gig.giginstrument_set.all %}
            <li>{{ gig_instrument.instrument }} ({{ gig_instrument.gig_quantity }})</li>
        {% endfor %}
    </ul>

    <h2>Part Assignments</h2>
    <p>
        <a href={% url 'band:gig_part_assignments_detail' gig.id %}>See Part Assignments</a>
    </p>
{% endblock %}
