{% extends "band/base.html" %}

{% block title %}{{ gig.name }} | PRSB{% endblock %}

{% block content %}
    <h1>{{gig.name}}</h1>

    <h2>Band Member Availability</h2>
    <table>
        <thead>
            <tr>
                <th>Available</th>
                <th>Maybe Available</th>
                <th>Not Available</th>
                <th>Missing Availability</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for attendance in available_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for attendance in maybe_available_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for attendance in unavailable_members %}
                        {{ attendance.member }}
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for member in missing_members %}
                        {{ member }}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Instruments</h2>
    <ul>
        {% for gig_instrument in gig.giginstrument_set.all %}
            <li>{{ gig_instrument.instrument }} ({{ gig_instrument.gig_quantity }})</li>
        {% endfor %}
    </ul>

    <h2>Part Assignment Overrides</h2>
    <a href={% url 'band:gig_part_assignment_override_create' gig.id %}>Add new Part Assignment Override</a>
    {% if part_assignment_overrides %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Band Member</th>
                    <th>Part</th>
                    <th>Instrument</th>
                </tr>
            </thead>
            <tbody>
                {% for pao in part_assignment_overrides %}
                    <tr>
                        <td>{{ pao.song_part.song }}</td>
                        <td>{{ pao.member }}</td>
                        <td>{{ pao.song_part }}</td>
                        <td>{{ pao.gig_instrument.instrument }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Song Recommendations</h2>
    {% for gpa in gig_part_assignments %}
        <details>
            <summary>{{ gpa.song.title }} ({{ gpa.score|floatformat:2 }})</summary>

            <table class="sortable">
                <thead>
                    <tr>
                        <th>Band Member</th>
                        <th>Part</th>
                        <th>Instrument</th>
                    </tr>
                </thead>
                <tbody>
                    {# the song parts not being played #}
                    {% for song_part in gpa.unplayed_parts %}
                        <tr class="error">
                            <td></td>
                            <td sorttable_customkey={{ song_part.get_order }}>{{ song_part }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    {# the people playing parts #}
                    {% for part_assignment in gpa.part_assignments %}
                        <tr {% if part_assignment.is_backup %} class="warning" {% endif %}>
                            <td>{{ part_assignment.member }}</td>
                            <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part }}</td>
                            <td>{{ part_assignment.instrument }}</td>
                        </tr>
                    {% endfor %}

                    {# the members not playing #}
                    {% for member in gpa.non_players %}
                        <tr>
                            <td>{{ member }}</td>
                            <td sorttable_customkey=100></td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    {# the instruments not being played #}
                    {% for instrument, cnt in gpa.unplayed_instruments.items %}
                        <tr>
                            <td></td>
                            <td sorttable_customkey=100></td>
                            <td>{{ instrument }} ({{ cnt }})</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}

    <a href={% url 'band:gig_list' %}>Back to Gigs</a>
{% endblock %}
