{% extends "band/base.html" %}

{% block title %}Part Assignments | PRSB{% endblock %}

{% block nav %}
    <a href={% url 'band:index' %}>Home</a>
    > Part Assignments
{% endblock %}

{% block content %}
    <h2>Part Assignments</h2>
    <a href={% url 'band:part_assignment_create' %}>New Part Assignment</a>
    <table class="sortable">
        <thead>
            <tr>
                <th>Song</th>
                <th>Part</th>
                <th>Instrument</th>
                <th>Band Member</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for part_assignment in object_list %}
                <tr {% if part_assignment.is_backup %} class="warning" {% elif part_assignment.is_not_ready %} class="error" {% endif %}>
                    <td>{{ part_assignment.song_part.song }}</td>
                    <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part.name }}</td>
                    <td sorttable_customkey={{ part_assignment.instrument.order }}>{{ part_assignment.instrument }}</td>
                    <td>{{ part_assignment.member }}</td>
                    <td><a href={% url 'band:part_assignment_update' part_assignment.pk %}>Edit</a></td>
                </tr>
            {% endfor %}

            {% for member, song in missing_person_songs %}
                <tr>
                    <td>{{ song }}</td>
                    <td sorttable_customkey=100></td>
                    <td sorttable_customkey=100></td>
                    <td>{{ member }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
