{% extends "band/base.html" %}

{% block title %}New Part Assignment | PRSB{% endblock %}

{% block nav %}
    <a href={% url 'band:index' %}>Home</a>
    {% if form.member_name %}
        > <a href={% url 'band:member_list' %}>Band Members</a>
        > <a href={% url 'band:member_detail' form.member_id %}>{{ form.member_name }}</a>
    {% elif form.song_name %}
        > <a href={% url 'band:song_list' %}>Songs</a>
        > <a href={% url 'band:song_detail' form.song_id %}>{{ form.song_name }}</a>
    {% else %}
        > <a href={% url 'band:part_assignment_list' %}>Part Assignments</a>
    {% endif %}
    > New Part Assignment
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
{% endblock %}
