{% extends "band/base.html" %}

{% block title %}{{ song.title }} | PRSB{% endblock %}

{% block content %}
    <h1>{{song.title}}</h1>

    <a href={% url 'band:song_update' song.id %}>Edit Song Information</a>

    <div>
        <p>Composer: {{ song.composer }}</p>
        <p>Duration: {{ song.duration }}</p>
        <p>Form: {{ song.form }}</p>
    </div>

    <div>
        <h2>Parts</h2>
        <ul>
            {% for part in song.parts.all %}
                <li>{{ part.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Part Assignments</h2>
        <table>
            <thead>
                <tr>
                    <th>Part</th>
                    <th>Instrument</th>
                    <th>Band Member</th>
                </tr>
            </thead>

            <tbody>
                {% for part_assignment in part_assignments %}
                    <tr>
                        <td>{{ part_assignment.song_part.name }}</td>
                        <td>{{ part_assignment.instrument }}</td>
                        <td>{{ part_assignment.member.user.get_full_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href={% url 'band:song_list' %}>Back to Songs</a>
{% endblock %}
