{% extends "band/base.html" %}

{% block title %}{{ song.title }} | PRSB{% endblock %}

{% block content %}
    <h1>{{song.title}}</h1>

    <a href={% url 'band:song_update' song.id %}>Edit Song Information</a>

    <div>
        <p>Composer: {{ song.composer }}</p>
        <p>Duration: {{ song.duration }}</p>
        <p>In Gig Rotation: {{ song.in_gig_rotation }}</p>
        <p>Form: {{ song.form }}</p>
    </div>

    <div>
        <h2>Parts</h2>
        <ul>
            {% for part in song.parts.all %}
                <li>{{ part.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Part Assignments</h2>

        <a href={% url 'band:song_part_assignment_create' song.pk %}>New Part Assignment</a>

        <table class="sortable">
            <thead>
                <tr>
                    <th>Part</th>
                    <th>Instrument</th>
                    <th>Band Member</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
{#                missing parts #}
                {% for missing_part in missing_parts %}
                    <tr class="error">
                        <td sorttable_customkey={{ missing_part.get_order }}>{{ missing_part.name }}</td>
                        <td sorttable_customkey=100></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                {% for part_assignment in part_assignments %}
                    <tr {% if part_assignment.is_backup %} class="warning" {% elif part_assignment.is_not_ready %} class="error" {% endif %}>
                        <td sorttable_customkey={{ part_assignment.song_part.get_order }}>{{ part_assignment.song_part.name }}</td>
                        <td sorttable_customkey={{ part_assignment.instrument.order }}>{{ part_assignment.instrument }}</td>
                        <td>{{ part_assignment.member.user.get_full_name }}</td>
                        <td><a href={% url 'band:song_part_assignment_update' song_id=song.pk pk=part_assignment.pk %}>Edit</a></td>
                    </tr>
                {% endfor %}

{#                missing members #}
                {% for missing_member in missing_members %}
                    <tr>
                        <td sorttable_customkey=100></td>
                        <td sorttable_customkey=100></td>
                        <td>{{ missing_member.user.get_full_name }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href={% url 'band:song_list' %}>Back to Songs</a>
{% endblock %}
